
.FavoriteItem {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 5px 1px 20px gray;
    border-radius: 20px;

    & h1 {
        font-size: 25px;
    }

    & img {
        width: 100%;
    }

    & img:hover {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    & .heart_red {
        width: 18%;
        position: absolute;
        top: 4%;
        left: 75%;
        cursor: pointer;
    }
}

