
.Card {
    width: 25%;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*max-width: 250px;*/
    

    & img {
        width: 100%;
    }

    & h2 {
        font-size: 12px;
        margin-top: 5px;
        font-weight: 750;
    }
}

.Card:hover {
    margin-bottom: 20px;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    .Card {

        & h2 {
            font-size: 18px;
            margin-top: 10px;
        }
    }
}