

.Card_Title {
    width: 85%;
    display: flex;
    gap: 10px;
    align-items: center;

    & h1 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    & img {
        width: 10%;
        margin-bottom: 5px;
        cursor: pointer;
    }
}



.CarBuy_Section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    flex-direction: column;
    
}

.CardBuy_Container {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(to right, #FDDEDE, #FDE7E7, #FDF0F0, #FDEAEA);
}

.ShowCardImage {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    width: 90%;

    & .Card_Image {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    & img {
        width: 50%;
    }
}

.table_cardbuy {
    width: 90%;
    margin-top: 40px;
    
}

.table_row_cb {
    text-align: center;
}

.table_header_cb {
    font-size: 12px;
    padding: 3px;
}

.input_quantity_cb {
    width: 30px;
    background-color: pink;
    border-radius: 5px;
    border: none;
    height: 20px;
    text-align: center;
}

#buycar_CardBuy {
    width: 23px;
}

.table_header {
    background-color: pink;
    
}

.table_row_price {
    box-shadow: 0px 2px 1px black;
}

.table_data_cb {
    font-size: 12px;
    padding: 10px;
    white-space: nowrap;
    border-bottom: 1px solid;
    font-weight: 700;

    & img {
        width: 24px;
        height: 22px;
        border-radius: 20px;
    }
}

@media screen and (min-width: 700px)
{
    .ShowCardImage {
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    
        & .Card_Image {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    
        & img {
            width: 30%;
        }
    }

    .CardBuy_Container {
        width: 80%;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background: linear-gradient(to right, #FDDEDE, #FDE7E7, #FDF0F0, #FDEAEA);
    }

    .Card_Title {
        width: 78%;
        display: flex;
        gap: 10px;
        align-items: center;
    
        & h1 {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 10px;
        }
    
        & img {
            width: 4%;
            margin-bottom: 5px;
            cursor: pointer;
        }
    }

}